body {
    font-family: 'Trebuchet MS', Verdana, sans-serif;
}

div.header,
h1 {
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 10px 0;
}

h1 {
    font-size: 110%;
    padding: 10px 0 0 0;
}

table.inner-table {
    margin: .5em auto;
    border: 1px solid #aaa;
    border-collapse: collapse;
    font-size: 90%;
}
.inner-table th,
.inner-table td {
    border: 1px solid #aaa;
    padding: 0.3em 20px 0.3em 0.3em;
}
.inner-table th.header {
    background: #f2f2f2;
    text-align: center;
    padding: 0.3em !important;
}
.inner-table th,
.inner-table td {
    text-align: left;
}

/* Only for things inside the <form> */
form table.inner-table {
    width: auto !important;
}

form .inner-table td {
    border: 1px solid #aaa;
}

th.submit {
    text-align: center;
    padding: 0.3em !important;
}

input#submit {
    width: 100%;
}

div#footer {
    font-size: 85%;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 5px 0;
}

div#footer a,
div#footer a:hover,
div#footer a:link,
div#footer a:visited {
    color: #000 !important;
}

div#footer div#meta-info {
    font-size: 85%;
}

div#main-title a,
div#main-title a:hover,
div#main-title a:link,
div#main-title a:visited {
    color: #000 !important;
}

option {
    width: 100%;
}

input#go-button {
    margin-left: 5px;
}

/* Tablesorter shit */
/* tables */
table.tablesorter {
    font-family: Arial;
    background-color: #cdcdcd;
    margin: 10px 0 10px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
    background-color: #e6eeee;
    border: 1px solid #fff;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3d3d3d;
    padding: 4px;
    background-color: #fff;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color: #f0f0f6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

.ck-results tr.even {
    background: #ffffff;
}
.ck-results tr.odd td{
    background: #e3f2ff;
}

.ck-results {
    width: 80%;
}

td#input-cell {
    text-align: center;
    padding: .3em !important;
}

a {
    text-decoration: none;
    color: #002bb8;
    background: none;
}
a:visited {
    color: #5a3696;
}
a:active {
    color: #faa700;
}
a:hover {
    text-decoration: underline;
}
